.inbox-skeleton {
  &__filters,
  &__composer {
    display: flex;
    gap: 12px;
    padding: 20px 0;
  }

  &__composer {
    padding: 10px 0 0;
  }

  &__composer > :first-child {
    flex: 1;
    width: auto !important;
  }
}

.campaign-messages {
  &__details {
    padding: 24px;
  }

  &__details > span {
    margin-bottom: 20px;
  }
}
